.hero-area1 > .viewBtn {    
    margin-top: 46px;
    font-weight: 700 !important;
    font-size: 20px !important;
    height: 56px !important;
    width: 200px !important;
}

.hero {
    margin-left: 83px !important;
    top: 160px;
    position: relative;
}

/* .hero-area2 {
    position: relative;
    top: 182px; 
}

.hero-area1 {
    position: relative;
    top: 180px; 
} */

.hero-area2 img{
    position: absolute;
    right: 91px !important;
    height: 350px;
}

.hero-text-main {    
    margin: 10px 0 10px 0 !important;
}

.hero-text-main > span {
    font-family: 'Cairo', sans-serif !important; 
    font-weight: 700 !important;
    font-size: 63px !important;
}

.hero-text-sec {    
    margin: 25px 0 0 0 !important;
}

.hero-text-sec > span{
    font-family: 'Cairo', sans-serif !important;
    font-weight: 400 !important;
    font-size: 25px !important; 
    line-height: 150% !important;
}

#workedWithArea {    
    margin-top: 320px;
}

#workedWithArea > p {    
    font-family: 'Cairo', sans-serif !important;
    font-weight: 700 !important;
    font-size: 28px !important; 
    margin: 0 !important;
}

#rocketiumLogo > img{
    width: 133px; 
    height: 36px;
}

#converzateLogo > img{
    width: 134px; 
    height: 28px;
}

#deepsyncLogo > img{
    width: 172px; 
    height: 55px;
}

#workedWithArea > .coImg {  
    width: 85%;  
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 65px;
}

#testimonialsArea{
    margin-top: 125px !important;
    padding: 0 !important;
}

#testimonialsArea > img {
    border-radius: 52px;
    z-index: 2;
}

.testimonialDiv{
    position: relative;
    top: -52px;    
    padding-top: 56px;
    width: 70%;  
    background: #221EE3;
    border-radius: 5px;
}

.testimonialDiv > p {
    margin: 0 !important;
    font-family: 'Cairo', sans-serif !important;
    font-weight: 600 !important;
    color: #FFFFFF;
    padding-bottom: 10px;
}

.testimonialDiv > .testimonialText {
    font-size: 15px !important;
    text-align: justify;
    text-justify: distribute !important;
}

.testimonialDiv > #nameOfPerson {
    font-size: 23px !important;
    margin-top: 10px !important;
}

#testimonial {
    padding: 18px 31px 35px 31px !important;
    line-height: 150% !important;
    font-weight: 400 !important;
    text-align: center !important;
}

#testimonial > em {
    font-size: 20px !important;
}

#aboutMyselfArea{
    position: relative;
    margin-top: 95px !important;
    margin-left: 186px !important;
    margin-right: 150px !important;
    padding: 0 !important;    
}

#aboutMyselfArea > .row {
    display: flex !important;
    align-items: flex-end !important;
}

#aboutMyselfArea > .row + .row {
    align-items: center !important;
}

.about-area2 {
    bottom: 0px;
}

.about-area2 > img{
    height: 334px !important;
    bottom: 0px !important;
}

.about-text-main > span {
    font-family: 'Cairo', sans-serif !important; 
    font-weight: 700 !important;
    font-size: 30px !important;
}

.about-text-sec {    
    margin: 25px 0 0 0 !important;
}

.about-text-sec > p{
    font-family: 'Cairo', sans-serif !important;
    font-weight: 400 !important;
    font-size: 25px !important; 
    margin: 38px 0 25px 0 !important;
    line-height: 146.9% !important;
}

.viewResume {
    margin-top: 119px !important;
    margin-left: -20px !important;
}

.viewBtn {
    text-transform: none !important;
    font-weight: 600 !important;
    font-size: 24px ;
    height: 58px !important;
    width: 219px !important;
    padding: 10px 16px;
}

.viewBtn:hover {
    background: #0D0D0D !important;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.35) !important;
}

#dummyWorkArea {
    height: 1px !important;
}

#workArea {
    margin-top: 96px !important;
}

#workArea > #workImg {
    margin-top: 73px !important;
    width: 90%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#workArea > p {  
    font-family: Cairo;
    font-weight: 700;
    font-size: 30px;
    margin: 0 !important;
}

#workImg {
    margin-top: 73px !important;
}

.cards {    
    width: 323px;
    height: 377px;
    background: #FFFFFF;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    margin-top: 0 !important;
}

.cards:hover {
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.4) !important;
}

.cards.is-selected {
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.4) !important;    
}

#workArea > #workImg > #vIdImg > img{
    margin-top: 52px;
}

#workArea > #workImg > #uxuiImg > img{
    margin-top: 73px;
}

#workArea > #workImg > #illustImg > img{
    margin-top: 71px;
}

#workArea > #workImg > .cards > p {    
    font-family: 'Cairo', sans-serif !important;
    font-weight: 700 !important;
    font-size: 23px !important; 
    margin-top: 22px;
}

#workArea > #workImg > .cards > .btn {
    width: 134px;
    height: 43px;
    margin-top: 75px;
    font-size: 17px !important;
    line-height: 32px !important;
    padding-top: 6px !important;
}

#workCarousel {
    margin-top: 62px !important;
    padding: 0 !important;
    height: 240px;
}

.flickity-page-dots {
    background: transparent;
    margin-bottom: 20px;
}

.flickity-page-dots .dot {
    width: 6px;
    height: 6px;
    background: #C4C4C4;
    opacity: 1;
}

.flickity-page-dots .dot.is-selected {
    width: 12px;
    height: 12px;
    background: #B1B1B1;
}

@media screen and (max-width: 434px) {    
    .hero {
        overflow: hidden;
        margin-left: 32px !important;
        top: 91px !important;
    }
    .hero-text-main > span {
        font-size: 38px !important;
    } 
    .hero-text-sec {    
        margin: 35px 0 0 0 !important;
    }
    .hero-text-sec > span {
        font-size: 14px !important;
    } 
    /* .hero-area1 {
        top: 34px;
    }
    .hero-area2 {
        top: 38px;
    } */
    .hero-area1 > .viewBtn {
        margin-top: 22px !important;
        font-size: 14px !important;
        height: 37px !important;
        width: 143px !important;
    }
    .hero-area2 img{
        right: -141px !important;
        height: 228px;
    } 
    #workedWithArea {        
        margin-top: 114px;
    }
    #workedWithArea > p {   
        font-size: 18px !important; 
    }
    #rocketiumLogo > img{
        width: 92px;
        height: 22px;
    }
    #converzateLogo > img{
        width: 80px;
        height: 17px;
    }
    #deepsyncLogo > img{
        width: 103px;
        height: 33px;
    }
    #workedWithArea > .coImg { 
        margin-top: 48px;
    }
    #testimonialsArea{
        margin-top: 70px !important;
    }    
    #testimonialsArea > img {
        width: 74px;
        height: 74px;
        border-radius: 37px;
    }    
    .testimonialDiv{
        top: -42px;    
        padding-top: 42px;
        width: 85%;  
    }    
    .testimonialDiv > .testimonialText {
        font-size: 10px !important;
    }    
    .testimonialText > p + p {
        font-size: 13px !important;
    }
    .testimonialDiv > #nameOfPerson {
        font-size: 20px !important;
    }    
    #testimonial {
        padding: 7px 18px 36px 18px !important;
    }    
    #testimonial > em {        
        font-size: 13px !important;
    }
    #aboutMyselfArea{
        overflow: hidden;
        margin-top: 55px !important;
        margin-left: 30px !important;
        margin-right: 0 !important;
    }    
    .about-area2 > img{
        height: 241px !important;
        margin-right: -71px !important;
    }      
    .about-text-main > span {
        font-size: 18px !important;
        margin: 0px 30px 0 0 !important;
    }    
    .about-text-sec {    
        margin: 0px 30px 0 0 !important;
    }    
    .about-text-sec > p{
        font-size: 14px !important;         
        margin: 18px 0 10px 0 !important;
    }
    .viewResume {
        margin-top: 34px !important;
    }    
    .viewBtn {
        font-size: 16px !important;
        height: 37px !important;
        width: 143px !important;
        padding: 0 10px;
    }
    .cards {    
        width: 176.49px;
        height: 206px;
        background: #FFFFFF;
        box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.15);
        border-radius: 3px;
        margin-top: 4px !important;        
        margin-right: 27.32px !important;
        margin-bottom: 30px !important;
    }
    .cards > img {
        position: relative;
    }
    #vIdImgCar > img{
        margin-top: 23.41px;
    }    
    #uxuiImgCar > img{
        margin-top: 39.89px;
    }    
    #illustImgCar > img{
        margin-top: 38.8px;
    }
    .cards > p {    
        position: relative;
        font-family: 'Cairo', sans-serif !important;
        font-weight: 700 !important;
        font-size: 14px !important; 
        margin-top: 11.24px;
    }
    .cards > .btn {
        position: relative;
        width: 73.22px;
        height: 23.5px;
        margin-top: 41px;
        bottom: 30px;
        font-size: 12px !important;
        line-height: 22px !important;
        padding-top: 1px !important;
    }
}

@media screen and (max-width: 380px) {  
    .hero-text-main > span {
        font-size: 33px !important;
    } 
    .hero-area1 > .viewBtn {
        margin-top: 39px !important;
        font-size: 14px !important;
    }
    .hero-text-sec {    
        margin: 25px 0 0 0 !important;
    }
    .hero-area2 img{
        right: -151px !important;
        height: 228px;
    } 
    #workedWithArea {        
        margin-top: 94px;
    }
    .about-area2 > img{
        height: 241px !important;
        margin-right: -81px !important;
    }      
    .about-text-sec > p{
        font-size: 14px !important;         
        margin: 2px 0 10px 0 !important;
    }
    .viewResume {
        margin-top: 34px !important;
    }    
    .viewBtn {
        font-size: 16px !important;
        height: 37px !important;
        width: 143px !important;
        padding: 0 10px;
    }
    .cards {    
        width: 176.49px;
        height: 206px;
        background: #FFFFFF;
        box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.15);
        border-radius: 3px;
        margin-top: 4px !important;        
        margin-right: 27.32px !important;
        margin-bottom: 30px !important;
    }
    .cards > img {
        position: relative;
    }
    #vIdImgCar > img{
        margin-top: 23.41px;
    }    
    #uxuiImgCar > img{
        margin-top: 39.89px;
    }    
    #illustImgCar > img{
        margin-top: 38.8px;
    }
    .cards > p {    
        position: relative;
        font-family: 'Cairo', sans-serif !important;
        font-weight: 700 !important;
        font-size: 14px !important; 
        margin-top: 11.24px;
    }
    .cards > .btn {
        position: relative;
        width: 73.22px;
        height: 23.5px;
        margin-top: 41px;
        bottom: 30px;
        font-size: 12px !important;
        line-height: 22px !important;
        padding-top: 1px !important;
    }
}