#workArea {  
    position: relative;
    font-family: 'Cairo', sans-serif !important; 
    font-weight: 700 !important;   
    color: black !important;
    top: 96px !important;
    padding: 0 5rem !important;
}

#workArea > p {
    margin: 0px !important;
}

.row {
    margin-top: 57px !important;
    padding: 0 !important;
    width: inherit !important;
}

.col:nth-child(1) {
    padding-left: 0 !important;
}

.col:nth-child(4) {
    padding-right: 0 !important;
}

.card {    
    background: #FFFFFF !important;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15) !important;
    border-radius: 5px !important; 
}

#headerText {
    font-size: 33px !important;
    line-height: 62px !important;
}

#descText {    
    font-weight: 400 !important;
    font-size: 20px !important;
    line-height: 146.9% !important;
}

.card-action > a{    
    font-size: 14px !important;
    line-height: 26px !important;
    color: #000000 !important;
    text-transform: none !important;
    margin: 0 !important;
}

.card-action {
    border-radius: 0 0 5px 5px !important;    
}

.card-image {     
    display: flex !important;  
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    height: 198px !important;
    background-size: cover;
    background-repeat: no-repeat;    
    background-position: center;
    background-size: cover !important;
    border-radius: 5px 5px 0 0 !important; 
}

.card-image > .btn {
    display: none !important;
    position: absolute !important;
    height: 43px !important;
    background: #FFFFFF !important;
    border-radius: 5px !important;
    font-size: 17px !important;
    color: #000000 !important;
    flex: 0 0 160px !important;
    padding: 6px 22px !important;
}

.card-image:hover > .btn { 
    display: block !important; 
}

.modal {
    background: transparent !important;
    top: 0 !important;
    width: 80% !important;
    height: auto !important;
    max-height: 100% !important;
    box-shadow: none !important;
    overflow-y: hidden !important;
}

.modal-content {
    padding: 0 !important;
    margin-top: 19px !important;
    height: calc(100vh - 30px) !important;
    overflow-y: scroll;
}

.modal-header {    
    height: 30px !important;
    position: sticky;
    padding: 0 !important;
    margin-top: 43px !important;
}

.modal-header > p {    
    font-family: 'Cairo', sans-serif !important; 
    font-weight: 700 !important;   
    color: #FFFFFF !important;
    font-size: 25px !important;
    position: fixed !important;
    margin: -20px 0 0 0 !important;
}

.modal-close {
    position: fixed !important;    
    top: 18px !important;
    right: 10px !important;
    color: #FFFFFF !important;
    z-index: 9999 !important;
    cursor: pointer !important;
    display: none;
}

.modal-close > i {
    font-size: 2.5rem !important;
}

/* .modal-overlay {
    opacity: 0.9 !important;
} */

.modal-content::-webkit-scrollbar {
    background: none !important;
}

/* IMAGES SECTION */
#rocketiumBrochure {
    background-image: url("../img/workImg/illust/2_RocketiumBrochure.jpg") !important;
}

#rocketiumBrochure:hover {
    background:
        linear-gradient(to bottom, rgba(13,13,13, 0.7) 60%, rgba(13,13,13, 0.7) 100%),        
        url("../img/workImg/illust/2_RocketiumBrochure.jpg") !important;
}

#rocketiumBrand {
    background-image: url("../img/workImg/illust/1_RocketiumBrand.png") !important;
}

#rocketiumBrand:hover {
    background-image: 
        linear-gradient(to bottom, rgba(13,13,13, 0.7) 60%, rgba(13,13,13, 0.7) 100%),
        url("../img/workImg/illust/1_RocketiumBrand.png") !important; 
}

#rocketiumInfo {
    background-image: url("../img/workImg/illust/3_RocketiumInfographic.png") !important;
    background-position: top !important;
}

#rocketiumInfo:hover {
    background-image: 
        linear-gradient(to bottom, rgba(13,13,13, 0.7) 60%, rgba(13,13,13, 0.7) 100%),
        url("../img/workImg/illust/3_RocketiumInfographic.png") !important; 
}

#hurf {
    background-image: url("../img/workImg/vId/1_Hurf.jpg") !important;
}

#hurf:hover {
    background-image: 
        linear-gradient(to bottom, rgba(13,13,13, 0.7) 60%, rgba(13,13,13, 0.7) 100%), 
        url("../img/workImg/vId/1_Hurf.jpg") !important;
}

#rebook {
    background-image: url("../img/workImg/vId/2_Rebook.jpg") !important;
}

#rebook:hover {
    background-image: 
        linear-gradient(to bottom, rgba(13,13,13, 0.7) 60%, rgba(13,13,13, 0.7) 100%),
        url("../img/workImg/vId/2_Rebook.jpg") !important;
}

#colouroid {
    background-image: url("../img/workImg/vId/3_Colouroid.jpg") !important;
}

#colouroid:hover {
    background-image: 
        linear-gradient(to bottom, rgba(13,13,13, 0.7) 60%, rgba(13,13,13, 0.7) 100%),
        url("../img/workImg/vId/3_Colouroid.jpg") !important;
}

#rocketiumMascot {
    background-image: url("../img/workImg/vId/4_RocketiumMascot.jpg") !important;
}

#rocketiumMascot:hover {
    background-image: 
        linear-gradient(to bottom, rgba(13,13,13, 0.7) 60%, rgba(13,13,13, 0.7) 100%),
        url("../img/workImg/vId/4_RocketiumMascot.jpg") !important;
}

#quikpik {
    background-image: url("../img/workImg/uxui/1_Quikpik.png") !important;
}

#quikpik:hover {
    background-image: 
        linear-gradient(to bottom, rgba(13,13,13, 0.7) 60%, rgba(13,13,13, 0.7) 100%),
        url("../img/workImg/uxui/1_Quikpik.png") !important;
}

#tatdUX {
    background-image: url("../img/workImg/uxui/2_TATD_UX.png") !important;
}

#tatdUX:hover {
    background-image: 
        linear-gradient(to bottom, rgba(13,13,13, 0.7) 60%, rgba(13,13,13, 0.7) 100%),
        url("../img/workImg/uxui/2_TATD_UX.png") !important;
}

#tatdUI {
    background-image: url("../img/workImg/uxui/3_TATD_UI.jpg") !important;
}

#tatdUI:hover {
    background-image: 
        linear-gradient(to bottom, rgba(13,13,13, 0.7) 60%, rgba(13,13,13, 0.7) 100%),
        url("../img/workImg/uxui/3_TATD_UI.jpg") !important;
}
/* IMAGES SECTION*/

@media screen and (max-width: 434px) {
    #workArea {    
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    #descText {    
        font-size: 14px !important;
        text-align: center;
        text-justify: inter-word;
        width: 252px !important;
    }
    .col:nth-child(1) {
        padding-left: 0.75rem !important;
    }  
    .col:nth-child(4) {
        padding-right: 0.75rem !important;
    } 
    .modal {
        width: 95% !important;
    }
    .modal .modal-content{
        margin-top: 19px !important;
        padding: 0px 0 0 15px !important;
    }
    .modal-header {
        padding-left: 15px !important;
        margin-top: 19px !important;
    }
    .modal-header > p {
        font-size: 18px !important;
        margin-top: 0 !important;
    }
    .modal-close {  
        top: 10px !important;
    }
    .modal-close > i {
        font-size: 1.5rem !important;
    }
    .row {
        margin-top: 34px !important;
    }
}